In [ ]:
!pip install dnspython
!pip install pymongo[srv]

import pymongo


client = pymongo.MongoClient("mongodb+srv://tanujamannem:tanuja123@cluster0.u2zsg.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.teja
records=db.numbers

dict1={
    "_id": input(),
    "number": input(),
    "mailid": input()
}

if (dict1["_id"].isalpha()) and (len(dict1["number"]) == 10 and dict1["number"].isdigit()) and ("@" in dict1["mailid"] and "." in dict1["mailid"] ):
      records.insert_one(dict1)
      print("contact inserted successfully")
else:
  print("invalid id or invalid number or invalid mailid")

teju
4567876543
tejamannem@gmail.com
contact inserted successfully

In [ ]:
asdf = { "number": "3456787654"}    ###deletes first occurence of this number
records.delete_one(asdf)

In [ ]:
asdf = { "number": "4567876543"}     ###update new number in the place of old number
newnumber = { "$set" : { "number": "9962566559"} }
records.update_one(asdf,newnumber)

In [ ]:
for x in records.find():  ###total documents
  print(x)

{'_id': True, 'number': False, 'mailid': True}
{'_id': 'tanu', 'number': 5678, 'mailid': 'tyhb'}
{'_id': 'tanuja', 'number': 7731911927, 'mailid': 'tanujamannem@gmail.com'}
{'_id': 'teja', 'number': 987654445, 'mailid': 'tanujamannem@gmail.com'}
{'_id': 'geetasri', 'number': '7731911927', 'mailid': 'tanujamannem@gmail.com'}
{'_id': 'teju', 'number': '9962566559', 'mailid': 'tejamannem@gmail.com'}

In [ ]:
asdf = { "mailid": "tanujamannem@gmail.com"}     ###deletes number filed in mailid tanujamannem@gmail.com
newvalue = {"$unset": { "number": "7731911927"} }
records.update_one(asdf,newvalue)     
for x in records.find():
  print(x)

{'_id': True, 'number': False, 'mailid': True}
{'_id': 'tanu', 'number': 5678, 'mailid': 'tyhb'}
{'_id': 'tanuja', 'mailid': 'tanujamannem@gmail.com'}
{'_id': 'teja', 'number': 987654445, 'mailid': 'tanujamannem@gmail.com'}
{'_id': 'geetasri', 'number': '7731911927', 'mailid': 'tanujamannem@gmail.com'}
{'_id': 'teju', 'number': '9962566559', 'mailid': 'tejamannem@gmail.com'}

In [ ]:
asdf = { }       ###adds date and time to every document
new = { "$currentDate": { "lastmodified": True} }
records.update_many(asdf,new)
for x in records.find():
  print(x)

{'_id': True, 'number': False, 'mailid': True, 'lastmodified': datetime.datetime(2022, 5, 12, 8, 16, 51, 360000)}
{'_id': 'tanu', 'number': 5678, 'mailid': 'tyhb', 'lastmodified': datetime.datetime(2022, 5, 12, 8, 16, 51, 360000)}
{'_id': 'tanuja', 'mailid': 'tanujamannem@gmail.com', 'lastmodified': datetime.datetime(2022, 5, 12, 8, 16, 51, 360000)}
{'_id': 'teja', 'number': 987654445, 'mailid': 'tanujamannem@gmail.com', 'lastmodified': datetime.datetime(2022, 5, 12, 8, 16, 51, 360000)}
{'_id': 'geetasri', 'number': '7731911927', 'mailid': 'tanujamannem@gmail.com', 'lastmodified': datetime.datetime(2022, 5, 12, 8, 16, 51, 360000)}
{'_id': 'teju', 'number': '9962566559', 'mailid': 'tejamannem@gmail.com', 'lastmodified': datetime.datetime(2022, 5, 12, 8, 16, 51, 360000)}

In [ ]:
s = input()
s = s.replace('.','')
s = s.split(" ")
l =[]
for i in s:
    if i.isdigit():
        l.append(i)
print(max(l))

 I was born on 12 october 1998.
1998